body{
   height: 100vh;
   margin: 0;
   background: #333;
   
   display: flex;
   justify-content: center;
   align-items: center;
}
.loader{
   position: relative;
   width: 300px;
   height: 300px;
   transform-style: preserve-3d;
   transform: perspective(1000px) rotateX(60deg);
}
.loader span{
   position: absolute;
   top: calc(10px * var(--i));
   right: calc(10px * var(--i));
   bottom: calc(10px * var(--i));
   left: calc(10px * var(--i));
   border: 3px solid #fff;
   border-radius: 50%;
   box-shadow: 0px 4px 0px #ccc,
         inset 0px 4px 0px #ccc;
   transform: translateZ(-100px);
   animation: animate 3s ease-in-out calc(.1s * (15 - var(--i))) infinite;
}

@keyframes animate{
   50% { transform: translateZ(100px); }
   100% { transform: translateZ(-100px); }
}